html {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  background: #202124;
  font-family: arial,sans-serif;
  line-height: normal;
  color: white;
}

.nav {
  padding: 15px;
  height: 30px;
  text-align:right;
}

.header {
  font-size: 20px;
  color: #f28b82;
  padding: 0 35px 5px;
  border-bottom: 1px solid #535353;
}

a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
}

a:hover {
  text-decoration: underline;
}

.logo {
  height: 300px;
  font-size: 80px;
  font-weight:700;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
}

form{
  text-align: center;
}

#search {
  height: 46px;
  width: 500px;
  border-radius: 24px;
  border: 1px solid #5f6368;
  background-color: transparent;
  color:#e8eaed;
  font-size: 20px;
  margin: 20px 0;
  padding: 0 20px;
}

input:focus {
  outline: none;
}

.btn {
  background-color: #303134;
  border: 1px solid #303134;
  border-radius: 4px;
  height: 36px;
  margin: 11px 4px;
  padding: 0 16px;
  color: #e8eaed;
  font-size: 14px;
  cursor: pointer
}

.btn:hover {
  border: 1px solid #cacbce;
}

.title, .input-field {
  padding: 0 35px;
  width: 800px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.description {
  font-size: 13px;
  line-height: 28px;
}

.input-adv {
  width: 600px;
  background: #202124;
  border: 1px solid #5f6368;
  color: #bdc1c6;
  font-size: 13px;
  height: 25px;
  padding: 1px 8px;
}

.adv-btn {
  height: 30px;
  margin: 10px 0;
  padding: 0 12px;
  background: #8ab4f8;
  border-color: #8ab4f8;
  border-radius: 3px;
  color: #202124;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
}

.adv-btn:hover {
  background: #adc9f7;
  border-color: #6585b8;
}

.subtitle {
  font-size: 15px;
  color:yellowgreen;
  position: absolute;
  left: calc(50% + 130px);
}